<!doctype html>
<html class="no-js" lang=""> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Alcestide • Blog</title>
        <link rel="icon" type="image/x-icon" href="/img/lambda.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">   
        <link rel="stylesheet" href="/css/blog.css">
        <link rel="stylesheet" href="/css/linearicons-web-font.css">	
		<link rel="stylesheet" href="/css/responsive.css">
    </head>
    <body style="background-color:black">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
						<div class="homepage text-center">
							<div class="main_header">
								<h2>Blog
                                </h2>
								<h3>ALCESTIDE</h3>
                                <form action="https://github.com/alcestide/Enkefalos"  target="_blank">
                                    <button class="btn btn-default btn-transparent" type="submit">Enkefalos</button>
                                    </form>         
                            </div>
                        </div>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="entirebody">
            <br> {{ content }}
        </div>
 
    </div>
        </div>
        
        <br><br><br>
        <div class="footer">
                <a href="/index.html" >Home</a>
                <a href="../blog"class="active">Blog</a>
                <a href="../contacts">Contacts</a>
              </div>
        </section>	
    </body>
</html>