<!doctype html>
<html class="no-js" lang=""> 
    <head>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Alcestide • Home</title>
        <link rel="icon" type="image/x-icon" href="/img/lambda.png">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">   
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/linearicons-web-font.css">	
		<link rel="stylesheet" href="css/responsive.css">
    </head>
    <body style="background-color:black">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
						<div class="homepage text-center">
							<div class="main_header">
								<h2>Welcome to</h2>
								<h3>ALCESTIDE</h3>
                                <p> Panariti Angelo</p>
                                <form action="https://github.com/alcestide" target="_blank">
                                <button class="btn btn-default btn-transparent" type="submit">Travel space and time</button>
                                </form>   
                            </div></div></div></div></div></div>
        <div class="entirebody">
        <div class="presentation">
        <h2 id="testone" ></h2> 
        <h3>let me introduce myself</h3> <br>
	    <p><b>Name:</b> Angelo "Alcestide" Panariti
		<p><b>Date of Birth:</b> 27th of April 2002
		<p><b>Job Title:</b> Developer, Data Scientist and System Administrator.
		<p><b>Skills:</b> C, Python, Clojure, Scala, Common Lisp, JavaScript, React, MySQL, CSS, AWS, Git, Linux System Administration.
        <br><br>
        <p><b>Prolific</b> and enthusiastic technology proponent. Fond on <b>cloud-computing</b>, <b>AI</b>, <b>data analysis</b> and general <b>development</b> as a whole.</p>
        <p>Fast-learner, indefatigable and truly <b>passionate</b>, always looking forward to <b>learn more about</b> new tools and libraries. </p>
        <p>Experienced with <b>UI/UX Development</b>, currently consolidating my React knowledge and <b>MERN</b> stack fluency as a whole.</p>
        <p><b>Arch-Linux</b> and Fedora user, with experience with both CentOS, <b>RHEL</b> and currently AlmaLInux. Hugely interested in the <b>open-source</b> community.</p>
        <p>Currently employed in an <b>healthcare</b>/medical company, administering countless systems in hospitals and radiology centers in Apulia, Italy.</p>
        <br><br>
		
<p> <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7qTge9rKFOp4YZtllFqQxV?utm_source=generator&theme=0" 
    width="50%" height="452" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			    
            <br><br>
            <a href="https://open.spotify.com/user/-shakyy" class="fab fa-spotify" target="_blank"></a>
            <a href="https://github.com/alcestide" class="fab fa-github" target="_blank"></a>    
	        <a href="https://soundcloud.com/alcestide" class="fab fa-soundcloud" target="_blank"></a>
            <a href="https://t.me/alcestide" class="fab fa-telegram-plane" target="_blank"></a>      
            </div>
    </div>
        </div>
        <br><br><br>
        <div class="footer">
                <a href="" class="active">Home</a>
                <a href="/blog">Blog</a>
                <a href="/contacts">Contacts</a>
              </div>
        </section>	
    </body>
</html>
