<!doctype html>
<html class="no-js" lang=""> 
    <head>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Alcestide • Home</title>
        <link rel="icon" type="image/x-icon" href="/img/lambda.png">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">   
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/linearicons-web-font.css">	
		<link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/flowrise" >
    </head>
    <body style="background-color:black">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
						<div class="homepage text-center">
							<div class="main_header">
								<h2>Welcome to</h2>
								<h3>ALCESTIDE</h3>
                                <form action="https://github.com/alcestide" target="_blank">
                                <button class="btn btn-default btn-transparent" type="submit">Travel space and time</button>
                                </form>   
                            </div></div></div></div></div></div>
        <div class="entirebody">
        <div class="presentation">
        <h2 id="testone" ></h2> 
        
        <h3>let me introduce myself</h3> <br>
	    <p><b>Name:</b> Angelo "Alcestide" Panariti
		<p><b>Date of Birth:</b> 27th of April 2002
		<p><b>Job Title:</b> λ DevSysOps (AWS, Azure), RHEL/Linux SysAdmin , C++/Python Dev.
		<p><b>Skills:</b> AWS, Ansible, Terraform, Docker, Kubernetes, Jenkins, Red Hat Enterprise Linux, Python, Go, C++, Bash, Powershell, Node, JS, SQL.
            <br><br><br>
            <p>Experienced and versatile technology professional with a strong focus on <b>cloud computing</b>, <b>data analysis</b>, and <b>system architecture</b>.</p>
            <p>Highly motivated, adaptable, and passionate about staying up-to-date with the latest tools and libraries in the industry.</p>
            <p>Enthusiastic about game design, music production, and the captivating world of horror across various forms of media and literature.</p>
            <p>Feel free to explore my <a href="/blog">blog</a> where I delve into a wide range of topics and discussions.</p>
            <br><br>
		
<p> <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7qTge9rKFOp4YZtllFqQxV?utm_source=generator&theme=0" 
    width="50%" height="452" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			    
            <br><br>
            <a href="https://github.com/alcestide" class="fab fa-github" target="_blank"></a>
            <a href="https://www.linkedin.com/in/alcestide/" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://open.spotify.com/user/-shakyy" class="fab fa-spotify" target="_blank"></a>         
            <a href="https://t.me/alcestide" class="fab fa-telegram-plane" target="_blank"></a>
            <a href="https://instagram.com/alcestide" class="fab fa-instagram" target="_blank"></a>      

        </div>
    </div>
        </div></div>
        <br><br><br>
        <div class="footer">
                <a href="" class="active">Home</a>
                <a href="/blog">Blog</a>
                <a href="/contacts">Contacts</a>
              </div>
        </section>	
    </body>
</html>
